<div class="row" >
         
          <div class="col-xs-12 col-md-8" >          
           <div class="panel panel-default" ng-repeat="blogs in getBlogs">
           <div class="panel-body">         
           <h3> {{blogs.blogHeading}}</h3>
           <p>{{blogs.blogContent}}</p>              
           <button class="btn btn-primary btn-sm  ">Comment</button>
           <button class="btn btn-success btn-sm  ">Like</button>
           <p class="pull-right">{{blogs.blogDate}}</p>
           </div>
           </div>
           
          </div>
       
       
 
       
         <div class="col-xs-12 col-md-4 ">
           <div class="panel panel-default"><div class="panel-heading text-center"><h3>Most Liked</h3></div></div>
           
           <div class="panel panel-default" ng-repeat="blogs in getBlogs">
           <div class="panel-body">         
           <h3> {{blogs.blogHeading}}</h3>
           <p>{{blogs.blogContent}}</p>              
           <button class="btn btn-primary btn-sm  ">Comment</button>
           <button class="btn btn-success btn-sm  ">Like</button>
           <p class="pull-right">{{blogs.blogDate}}</p>
           </div> 
           </div>
           
           
           
          
    
          </div>
         </div>